[submodule "libraries/SD"]
	path = libraries/SD
	url = https://github.com/Tamakichi/SD.git
[submodule "hardware/Arduino_STM32"]
	path = hardware/Arduino_STM32
	url = https://github.com/Tamakichi/Arduino_STM32.git
	branch = base_245b97a
[submodule "libraries/TNTSC"]
	path = libraries/TNTSC
	url = https://github.com/Tamakichi/ArduinoSTM32_TNTSC.git
[submodule "libraries/PS2Keyboard"]
	path = libraries/PS2Keyboard
	url = https://github.com/Tamakichi/ArduinoSTM32_PS2Keyboard.git
[submodule "libraries/TTVout"]
	path = libraries/TTVout
	url = https://github.com/Tamakichi/ArduinoSTM32_TVout.git
[submodule "libraries/TFlash"]
	path = libraries/TFlash
	url = https://github.com/Tamakichi/ArduinoSTM32_TFlash.git
[submodule "libraries/SDSfonts"]
	path = libraries/SDSfonts
	url = https://github.com/Tamakichi/Arduino-SJISKanjiFont-Library-SD.git
[submodule "libraries/libBitmap"]
	path = libraries/libBitmap
	url = https://github.com/Tamakichi/libBitmap.git
[submodule "libraries/sdbitmap"]
	path = libraries/sdbitmap
	url = https://github.com/Tamakichi/Arduino-SD-Bitmap.git
[submodule "libraries/TTVoutfonts"]
	path = libraries/TTVoutfonts
	url = https://github.com/Tamakichi/TTVoutfont.git
[submodule "libraries/mcurses"]
	path = libraries/mcurses
	url = https://github.com/Tamakichi/mcurses.git
[submodule "libraries/Adafruit_SH1106_STM32"]
	path = libraries/Adafruit_SH1106_STM32
	url = https://github.com/Tamakichi/Adafruit_SH1106_STM32.git
